<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="${title!}">
    <title>${title!}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${base!}/static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="${base!}/static/plugins/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="${base!}/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="${base!}/static/css/style.css">
    <link rel="stylesheet" href="${base!}/static/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="${base!}/static/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="${base!}/static/plugins/iCheck/all.css">
    <link rel="stylesheet" href="${base!}/static/plugins/datatables/dataTables.bootstrap.css">
    <script type="text/javascript" src="${base!}/static/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/ztree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/fastclick/fastclick.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${base!}/static/js/app.min.js"></script>
    <script type="text/javascript" src="${base!}/static/plugins/sugarTpl/sugarTpl.js"></script>
    <script type="text/javascript" src="${base!}/static/js/common.js?_=${dateTime()}"></script>
    <script type="text/javascript">
        var base = "${base!}";
    </script>
</head>
<body style="padding: 5px">
<div class="wrapper">
    ${layoutContent}
</div>
</body>
</html>
